body {
  background: url(imagens/restaurante.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  padding: 15px;
  width: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: whitesmoke;
  border-radius: 20px;
  background-image: linear-gradient(rgba(0, 78, 194, 0.531), rgb(162, 62, 255));
  text-align: center;
}

h2 {
  text-align: center;
}

fieldset {
  align-items: center;
  border-radius: 20px;
  border-color: #000;
}

button {
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  font: 20px bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
  width: 600px;
  margin: 0 auto;
}

/* RESERVA */
.form-reserva {
  background-image: linear-gradient(rgba(0, 194, 97, 0.531), rgb(62, 162, 255));
  width: 100%;
  margin-bottom: 20px;
}

.form-reserva input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.form-reserva select {
  width: 593px;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.form-reserva button {
  background-color: #00ff59;
  color: #000;
}

/* VERIFICAR */
.form-verificar {
  background-image: linear-gradient(rgba(230, 222, 0, 0.814), rgb(195, 255, 161));
  width: 100%;
  margin-bottom: 20px;
}

.form-verificar input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.form-verificar button {
  background-color: #d4ff00;
  color: #000;
}

.info {

  border-radius: 5px;
  margin-top: 5px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  background-color: #fff;
}


/* CANCELAR */
.form-cancelar {
  color: #fff;
  background-color: rgba(255, 25, 40, 0.665);
  width: 100%;
  margin-bottom: 20px;
}

.form-cancelar input {
  width: 95%;
  padding: 10px;
  border-radius: 5px;
  margin-top: 5px;
}

.form-cancelar button {
  background-color: #ff0000;
  color: #ffffff;
}